@inject LanguageService language

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/HomePage/Index">@language.Getkey("Home") <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/HomePage/ProductList">@language.Getkey("Products")</a>
        @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-item nav-link" href="/Cart/Index">@language.Getkey("Carts")</a>
                        <a class="nav-item nav-link" href="/Order/GetOrders">@language.Getkey("Orders")</a>
                    }
      <a class="nav-item nav-link" href="/HomePage/AboutUs">@language.Getkey("AboutUs")</a>
      <a class="nav-item nav-link" href="/Contact/Create">@language.Getkey("Contact")</a>
      @if (User.Identity.IsAuthenticated)
                    {
                            <a class="nav-link " asp-area="" asp-controller="Customer" asp-action="Profile">@User.Identity.Name</a>
                      
                       
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">@language.Getkey("Logout")</a>
                       
                    }
                    else
                    {
                       
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login">@language.Getkey("Login")</a>
                     
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Register">@language.Getkey("Register")</a>
                     
                    }
    </div>
  </div>

</nav>
@*
<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/HomePage/Index" class="act">Home</a></li>
                    <li><a href="/HomePage/ProductList">Products</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Cart/Index">Carts</a></li>
                        <li><a href="/Order/GetOrders">Orders</a></li>
                    }

                    <li><a href="/HomePage/AboutUs">About Us</a></li>
                    <li><a href="/Contact/Create">Contact</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item" style="position:absolute;right:80px">
                            <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Profile">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item" style="position:absolute;right:0px">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item" style="margin-left:547px">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </div>
</div>*@